@media(min-width: 1300px) {
    .container{
        max-width: 1240px;
    }
}

@media (min-width: 1340px) {
    
    #photography .container{
        max-width: 1300px;   
    }
}

@media (max-width: 1199px) {
    .menu-navbar ul li a{
        padding: 10px;
        font-size: 16px;
    }

    #hero{
        background-position: center left;
        background-size: cover;
    }

    .clients-logo-section .client-logo-image .inner-logo-image{
        padding: 30px;
    }

    .clients-logo-section .client-logo-image .inner-logo-image figure{
        width: 130px;
        height: 130px;
    }

    .motion-description ul li{
        font-size: 17px;
    }
    .motion-graphics{
        height: 400px;
    }
}

@media (max-width: 991px) {

    #header{
        padding: 10px 0;
    }

    .menu-navbar{
        position: fixed;
        width: 250px;
        height: 100vh;
        right: -250px;
        top: 0;
        left: auto;
        background-color: #020229;
        padding: 50px 0 15px;
        transition: all 0.3s;
        z-index: 9999;
        overflow-y: auto;
    }

    body.menuIsOpened .menu-navbar{
        right: 0;
    }

    .menu-navbar ul li{
        width: 100%;
        margin-bottom: 15px;
    }

    #hero{
        background-position: left center;
    }

    #hero .hero-items h3{
        font-size: 85px;
    }

    #aboutme .about-description p{
        font-size: 16px;
        line-height: 26px;
    }

    .clients-logo-section .client-logo-image .inner-logo-image{
        padding: 20px;
    }
    .clients-logo-section .client-logo-image .inner-logo-image figure{
        width: 110px;
        height: 110px;
    }

    .motion-graphics{
        height: 500px;
    }

    .photography-container .nav li a.active:before{
        width: 100%;
    }

    .welcome-headline{
        left: 0;
    }
}

@media (max-width: 767px) {
    .section-title{
        font-size: 79px;
    }
    .section-title span::before{
        width: 235px;
        top: 10px;
    }
    #hero .hero-items h3{
        font-size: 70px;
    }

    .goToBottom{
        bottom: 30px;
    }

    .about-image{
        position: absolute;
        width: 140px;
        top: 0;
        left: 70px;
    }

    #aboutme .section-title{
        padding-left: 120px;
        margin-top: 80px;
        text-align: center;
    }

    .about-description{
        margin-top: 60px;
    }

    #aboutme .about-description p{
        -webkit-line-clamp: 5;
        text-align: center;
    }

    #clients .client-body{
        margin-top: 0;
    }

    .client-logo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .clients-logo-section .client-logo-image{
        margin-bottom: 20px;
    }
    .clients-logo-section .client-logo-image .inner-logo-image figure{
        width: 100px;
        height: 100px;
    }

    .contact-information p{
        font-size: 24px;
        color: #ffffff;
        line-height: 40px;
        margin-bottom: 40px;
    }
    .contact-information p > span{
        background-color: #ce3738;
        line-height: 46px;
        padding: 5px 0;
    }
    .contact-information p > span a{
        padding: 0 10px;
        display: inline-block;
    }
    .motion-graphics{
        height: 300px;
    }

    .photo-sizer,
    .photography-item{
        width: calc(100% / 3.20);
    }

    .photography-container .nav li a{
        font-size: 16px;
    }

    .welcome-container{
        padding-top: 10px;
    }
    .welcome-headline{
        font-size: 24px;
    }
    .welcome-title{
        font-size: 85px;
    }
    .welcome-title span{
        font-size: 125px;
        line-height: 85px;
    }

}

@media (max-width: 767px) and (orientation: landscape) {
    .section{
        height: auto !important;
    }
}

@media (max-width: 575px) {
    .section-title{
        font-size: 68px;
        margin-bottom: 20px;
    }
    .section-title span::before{
        width: 205px;
        height: 50px;
    }
    .logo-wraper h1 a{
        font-size: 43px;
    }

    #hero{
        background-position: 35% center;
    }

    #hero:before{
        width: 100%;
        height: 50%;
    }

    #hero .hero-items h3{
        color: #ce3738;
    }

    .photography-container .nav li{
        width: 33.33%;
    }

}

@media (max-width: 575px) and (orientation: landscape) {
    #hero .hero-items{
        padding: 50px 0;
    }
}

@media (max-width: 479px) {
    .footer-navigation ul li{
        width: 33.33%;
        margin: 20px 0 0;
    }

    .contact-information p{
        font-size: 20px;
    }

    .about-image{
        width: 110px;
        left: 40px;
    }
    #aboutme .section-title{
        padding-left: 110px;
        margin-top: 60px;
    }

    .photo-sizer,
    .photography-item{
        width: calc(100% / 2.20);
    }

    .welcome-title{
        font-size: 65px;
    }
}

@media (max-width: 375px) {
    .section-title{
        font-size: 53px;
    }
    .section-title span::before{
        width: 175px;
        height: 40px;
    }
    .about-image{
        width: 110px;
        left: 20px;
    }
    
    .footer-navigation ul li{
        width: 50%;
    }

    .motion-graphics{
        height: 200px;
    }
    
}

@media (max-width: 320px) {
    .about-image{
        width: 100px;
    }
    #aboutme .section-title{
        margin-top: 50px;
    }
    .clients-logo-section .client-logo-image .inner-logo-image{
        padding: 10px;
    }
    .contact-information p{
        font-size: 16px;
    }
}